<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
<<<<<<< HEAD:app/views/shared/_navbar.html.erb
      <%= link_to "Amortization Schedule Calculator", root_path, class: 'navbar-brand' %>
=======
     <%= link_to "Amortization Schedule Calculator", root_path, class: 'navbar-brand' %>
>>>>>>> b4be61b0148bdb2901ddfe4f8578c9840eb76389:app/views/layouts/_navbar.html.erb
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "View all loans", loans_path, class: 'btn btn-info' %></li>
  </div>
</nav>
